<mat-drawer-container class="h-full">
  <mat-drawer class="!w-60" mode="side" [opened]="isShowingSidenav">
    <app-folder-structure
      [currentFolder]="currentFolder"
    ></app-folder-structure>
  </mat-drawer>
  <mat-drawer-content>
    <div class="flex flex-row h-full">
      <mat-divider [vertical]="true"></mat-divider>
      <div class="flex items-center">
        <button
          mat-icon-button
          class="small-icon-button"
          [matTooltip]="isShowingSidenav ? 'Hide folders' : 'Show folders'"
          aria-label="Toggle folder panel visibility"
          (click)="toggleSidenav()"
        >
          <mat-icon>{{
            isShowingSidenav
              ? "keyboard_double_arrow_left"
              : "keyboard_double_arrow_right"
          }}</mat-icon>
        </button>
      </div>

      <div class="w-full h-full">
        @if(isLoading){
        <div class="h-full flex items-center justify-center">
          <mat-spinner></mat-spinner>
        </div>
        } @else if(currentFolder){
        <div class="h-32">
          <h2 class="flex items-center font-medium my-0 py-4">
            <span>Credentials</span>
            <mat-icon>keyboard_arrow_right</mat-icon>
            <span>{{ currentFolder.name }}</span>
          </h2>
          <button
            class="tertiary-button"
            mat-flat-button
            (click)="addCredential()"
            matTooltip="Add credential"
            aria-label="Add credential"
          >
            <mat-icon>add</mat-icon>
            <span>Add credential</span>
          </button>
        </div>

        <div class="h-[calc(100%-128px)]">
          <app-credential-panel
            [currentFolder]="currentFolder"
          ></app-credential-panel>
        </div>
        } @else if(!firstLoading){
        <div class="pt-4">
          <h2>Credentials</h2>
          <p>Create a folder to add credentials</p>
        </div>
        }
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
