@page "/"
@attribute [Authorize]

<div class="p-4">
    <div class="container">
        <p>You're logged in</p>
        <p>
            <NavLink href="credentials">Manage Credentials</NavLink>
        </p>
    </div>
</div>