<form class="flex flex-col" [formGroup]="masterPasswordForm">
  <mat-form-field class="form-item mb-3">
    <mat-label>{{ passwordLabel }}</mat-label>
    <input
      matInput
      formControlName="password"
      [type]="getPasswordInputType()"
      required
    />

    <mat-icon
      matSuffix
      [matTooltip]="
        [
          'Must be at least 10 characters long',
          'Must contain at least 1 lowercase character',
          'Must contain at least 1 uppercase character',
          'Must contain at least 1 digit',
          'Must contain at least 1 special character'
        ] | tooltipList
      "
      matTooltipPosition="after"
      matTooltipClass="tooltip-list"
      aria-label="Password requirements"
      >info_outline</mat-icon
    >
    @if(password?.hasError('required')){
    <mat-error>
      <mat-icon>error</mat-icon>
      <span class="aligned-with-icon">Password is required.</span>
    </mat-error>
    } @if(password?.hasError('minlength')){
    <mat-error>
      <mat-icon>error</mat-icon>
      <span class="aligned-with-icon"
        >Password must be at least 10 characters long.</span
      >
    </mat-error>
    } @if(password?.hasError('requiresLowercase')){
    <mat-error>
      <mat-icon>error</mat-icon>
      <span class="aligned-with-icon"
        >Password must contain at least one lowercase character.</span
      >
    </mat-error>
    } @if(password?.hasError('requiresUppercase')){
    <mat-error>
      <mat-icon>error</mat-icon>
      <span class="aligned-with-icon"
        >Password must contain at least one uppercase character.</span
      >
    </mat-error>
    } @if(password?.hasError('requiresDigit')){
    <mat-error>
      <mat-icon>error</mat-icon>
      <span class="aligned-with-icon"
        >Password must contain at least one digit.</span
      >
    </mat-error>
    } @if(password?.hasError('requiresSpecialChars')){
    <mat-error>
      <mat-icon>error</mat-icon>
      <span class="aligned-with-icon"
        >Password must contain at least one special character.</span
      >
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field class="form-item">
    <mat-label>{{ confirmPasswordLabel }}</mat-label>
    <input
      matInput
      formControlName="confirmPassword"
      [type]="getPasswordInputType()"
      required
    />
    @if(confirmPassword?.hasError('required')){
    <mat-error>
      <mat-icon>error</mat-icon>
      <span class="aligned-with-icon">Confirm your password.</span>
    </mat-error>
    } @if(confirmPassword?.hasError('passwordsNotMatching')){
    <mat-error>
      <mat-icon>error</mat-icon>
      <span class="aligned-with-icon">Passwords do not match.</span>
    </mat-error>
    }
  </mat-form-field>

  <mat-checkbox class="mr-auto" formControlName="showPassword"
    >Show password</mat-checkbox
  >
</form>
