@page "/account/change-password"
@using Microsoft.AspNetCore.Components
@using PasswordWallet.Shared.Dtos
@layout ChangePasswordLayout
@attribute [Authorize]
@inject IAlertService AlertService
@inject IAccountService AccountService
@inject ApiClient Api

<div class="card">
    <h4 class="card-header">Change Password</h4>
    <div class="card-body">
        <EditForm Model="@_model" OnValidSubmit="OnValidSubmit">
            <DataAnnotationsValidator/>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="_model.Password" type="password" class="form-control"/>
                <ValidationMessage For="@(() => _model.Password)"/>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <InputText @bind-Value="_model.ConfirmPassword" type="password" class="form-control"/>
                <ValidationMessage For="@(() => _model.ConfirmPassword)"/>
            </div>
            <div class="form-group">
                <label>Keep As Hash</label>
                <InputCheckbox @bind-Value="_model.IsPasswordKeptAsHash"/>
            </div>
            <button disabled="@_loading" class="btn btn-primary">
                @if (_loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Change Password
            </button>
            <NavLink href="" class="btn btn-link">Cancel</NavLink>
        </EditForm>
    </div>
</div>

@code {
    private readonly ChangePasswordRequestDto _model = new();
    private bool _loading;

    private async void OnValidSubmit()
    {
        AlertService.Clear();

        _loading = true;
        try
        {
            Api.BearerToken = AccountService.AuthorizationToken;
            await Api.ChangePasswordAsync(_model);
            AlertService.Success("Password changed successfully", keepAfterRouteChange: true);
            AccountService.Logout();
        }
        catch (Exception ex)
        {
            AlertService.Error(ex.Message);
        }
        _loading = false;
        StateHasChanged();
    }

}