<h2 mat-dialog-title>{{ data ? "Edit credential" : "Add credential" }}</h2>
<mat-dialog-content>
  <form [formGroup]="addEditCredentialForm">
    <div class="mt-1 flex flex-col items-center">
      <mat-form-field class="form-item mb-3">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" />
        @if(username?.hasError('maxlength')){
        <mat-error>
          <mat-icon>error</mat-icon>
          <span class="aligned-with-icon"
            >Username cannot have more than 60 characters.</span
          >
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-item mb-3">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="getPasswordInputType()"
        />
        <button
          mat-icon-button
          matSuffix
          matTooltip="Generate password"
          aria-label="Generate password"
          (click)="showGeneratePasswordDialog()"
        >
          <mat-icon>password</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field class="form-item mb-3">
        <mat-label>Confirm password</mat-label>
        <input
          matInput
          formControlName="confirmPassword"
          [type]="getPasswordInputType()"
        />
        @if(confirmPassword?.hasError('passwordsNotMatching')){
        <mat-error>
          <mat-icon>error</mat-icon>
          <span class="aligned-with-icon">Passwords do not match.</span>
        </mat-error>
        }
      </mat-form-field>
      <app-password-strength
        class="form-item mb-2"
        [password$]="password?.valueChanges"
        [initialValue]="password?.value"
      ></app-password-strength>

      <div class="form-item mb-3">
        <mat-checkbox formControlName="showPassword"
          >Show password</mat-checkbox
        >
      </div>

      <mat-form-field class="form-item mb-3">
        <mat-label>Web address</mat-label>
        <input matInput formControlName="webAddress" type="text" />
        @if(webAddress?.hasError('maxlength')){
        <mat-error>
          <mat-icon>error</mat-icon>
          <span class="aligned-with-icon"
            >Web address cannot have more than 256 characters.</span
          >
        </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="form-item">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          cdkAutosizeMinRows="1"
          cdkAutosizeMaxRows="7"
          formControlName="description"
          type="text"
        ></textarea>
        @if(description?.hasError('maxlength')){
        <mat-error>
          <mat-icon>error</mat-icon>
          <span class="aligned-with-icon"
            >Description cannot have more than 512 characters.</span
          >
        </mat-error>
        }
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button type="submit" (click)="onSubmit()">Save</button>
  <button mat-stroked-button [mat-dialog-close]="null">Cancel</button>
</mat-dialog-actions>
