<div class="m-2 flex items-center justify-center">
  <span class="text-2xl">Folders</span>
  <button
    mat-icon-button
    (click)="addFolder()"
    aria-label="Add folder"
    matTooltip="Add folder"
  >
    <mat-icon class="tertiary-icon">create_new_folder</mat-icon>
  </button>
</div>
<mat-divider></mat-divider>

@if(isLoading){
<div class="mt-2 flex justify-center">
  <mat-spinner [diameter]="80"></mat-spinner>
</div>
} @else{
<div
  class="m-2 flex flex-col items-start active:cursor-grabbing"
  cdkDropList
  (cdkDropListDropped)="dropFolder($event)"
>
  @for (folder of folders$ | async; track folder.id) {
  <div class="flex items-center overflow-hidden" cdkDrag cdkDragLockAxis="y">
    <button
      mat-button
      class="w-44 !justify-start !truncate"
      [ngClass]="{ 'item-selected': folder.id === currentFolder?.id }"
      (click)="openFolder(folder.id)"
      [matTooltip]="folder.name.length > 18 ? folder.name : ''"
    >
      <mat-icon class="!mr-1">folder</mat-icon>
      <span>{{ folder.name | truncate : 18 }}</span>
    </button>
    <button
      class="small-icon-button primary-icon"
      mat-icon-button
      [matMenuTriggerFor]="folderOptions"
      [matMenuTriggerData]="{ folder: folder }"
      matTooltip="Folder options"
      aria-label="Folder options"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>

  } @empty {
  <span>There are no folders</span>
  }
</div>
}

<mat-menu #folderOptions="matMenu">
  <ng-template matMenuContent let-folder="folder">
    <button mat-menu-item (click)="renameFolder(folder)">
      <span>Rename</span>
    </button>
    <button mat-menu-item (click)="deleteFolder(folder.id)">
      <span>Delete</span>
    </button>
  </ng-template>
</mat-menu>
